---
import siteConfig from "@/configs/site.config";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"footer"> {}

const { class: className, ...props } = Astro.props;
---

<footer class:list={["border-t bg-muted", className]} {...props}>
	<div class="h-full w-full max-w-7xl mx-auto p-10">

		<div class="grid grid-cols-1 gap-4">

			<div>
				<p class="text-xl">
					Maintained by
					<a
						href="https://linkedin.com/in/adnanis78612"
						target="_blank"
						class="font-excalifont hover:underline"
					>
						{siteConfig.footer.maintainer.name}
					</a>
				</p>

				<p class="text-lg font-medium">
					(
					<span class="font-excalifont">
						{siteConfig.footer.maintainer.designation}
					</span>
					)
				</p>

				<br />

				<div class="flex gap-4 text-sm">

					<a
						href="https://linkedin.com/in/adnanis78612"
						target="_blank"
						class="hover:underline"
					>
						LinkedIn
					</a>

					<a
						href="https://github.com/adnanis78612/gpkashipur-pyqs"
						target="_blank"
						class="hover:underline"
					>
						GitHub Repo
					</a>

				</div>

				<br />

				<p class="text-muted-foreground">
					{siteConfig.site.description}
				</p>
			</div>

		</div>

		<br />

		<p class="w-full text-center">
			Built with Astro
		</p>

		<p class="w-full text-center">
			Last updated on
			<span class="font-excalifont">
				{
					new Date().toLocaleString("en-IN", {
						timeZone: siteConfig.site.timezone,
					})
				}
			</span>
			(IST)
		</p>

	</div>
</footer>